body{
    background: rgb(48, 43, 43)
}
*{
    box-sizing: border-box;
}
/***Area cabeçalho*/
header{
    background: rgb(48, 43, 43) url(../imagens/front_end_width1800px.png) no-repeat center;
    text-align: center;
    line-height: 10px;
    min-width: auto;
    max-width: none; 
}
/***Area menu de navegação***/

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 15px 10px 15px 10px;
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
    overflow: hidden;
    background: rgb(46, 40, 40);
    position: sticky;
    top: 0px;/*O que faz grudar no top sem sumir da tela*/   
}
a{
    color: #f2f2f2;
    text-transform: uppercase;
    text-decoration: none;   
    padding-left: 18px;
    padding-right: 18px;   
}
.active{
    background: rgba(20, 255, 59, 0.549);
}
a:hover{
    background: rgba(20, 255, 59, 0.549);
}
.siteLink{
    font-size: 0.7em;
    cursor: pointer;
}
/***************************************/

/*********CORPO DO SITE********************/
h2{
    /*border: 2px solid rgb(255, 255, 255);*/
    padding-bottom: 20px;
}
h1{
    color: #fcbebe;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #86521a2c;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
article{
    width: 80%;
    /*float: left;*/
    margin: 0 auto;
    padding-bottom: 10px;
}

section{
    /*border: 2px solid rgb(20, 255, 59);*/
}
.containerFlex{
    /*border: 2px solid rgb(255, 255, 255);*/
    display: flex;/*PROPRIEDADE para usar as demais abaixo*/
    flex-direction: row;/*Alinha em linha*/
    flex-wrap: wrap;/*e os Itens nao der na tela, ele colocar em colunas*/
    justify-content: center;/*Alinha os itens no centro ao ficarem em colunas*/
}
.postagem
{
    /*border: 2px solid red;*/
    width: 900px;
	padding: 5px 10px 1px 10px;
	color: rgba(90, 243, 141, 0.741);
    font-size: 1.5em;
    margin: auto;
}
/*
.imagem
{
    border: 3px solid red;
	width: 50%;
    overflow: hidden;/*esconde parte da imgem na div*
    height: 150px;
}

img.imagensFrontEnd{
    width: 25%;
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
    
}
*/
.divImagem{
    margin: auto;
}
.imagensFrontEnd{
    /*border: 3px solid red;*/
    width: 350px;
    
}

.imagemMapaECarreira{
    margin: 0 auto;
    padding: 10px 10px;
	width: 70%;
    display: flex;
}
.imagemEu{
	width: 160px;
    display: flex;
    float: left;
    padding-right: 5px;
}
.titulo{
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}
.conteudo{
    margin-top: -25px;
    line-height: 25px;
    text-align: justify;
}
.data_postado
{
    color: aliceblue;
	border-left: 5px solid #a0a0a0;
	padding-left: 5px;
    padding-bottom: 5px;
	display: block;
	margin-top: 30px;
    font-size: 12px;
}
.titulo{
    text-decoration: underline;
}

/******************************************/

/*******LATERAL*****************
.lateral{
    width: 35%;
    float: right;
    background: rgb(167, 223, 111);
}
*******************************/

/*****RODAPE**************************/
footer{
   /* border-top: 2px solid rgba(20, 255, 59, 0.6);*/
   background-image: linear-gradient(to left,  rgb(20, 255, 59), rgb(20, 255, 59, 0.1));
    color: #f2f2f2;
    text-align: center;
    margin: 0 30% 0 30%;
    /*background:rgb(48, 43, 43);*/
}
.iconeLink{
    padding-top: 3px;
    width: 14px;
}
/*************************************/

